.img-wrapper{
    position: relative;
    overflow: hidden;
    &.square{
        padding-bottom: 100%;
    }
    .img-container{
        height: 100%;
        position: absolute;
        width: 100%;
    }
}

.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
